<div class="row pb-3">
  <!-- COLUMN ONE START -->
  <div class="col-2 pl-3 pt-3 border-right">
    <!-- SUMMARY BUTTON START -->
    <div class="text-center border-bottom pb-2">
      <button type="button" (click)="navToProfiles()" class="btn btn-outline-secondary btn-sm btn-block">
        <i class="fa fa-arrow-left">&nbsp;&nbsp;</i>
        Back to Profiles
      </button>
      <!-- <button type="button" data-toggle="modal" data-target="#summaryModal" data-backdrop="static" data-keyboard="false"
        class="btn btn-info btn-sm btn-block">
        <i class="fa fa-list-alt">&nbsp;&nbsp;</i>
        Show Summary
      </button> -->
    </div>
    <!-- SUMMARY BUTTON END -->
    <!-- TREE START -->
    <div class="border-top pt-2">
      <table style="width: 100%;">
        <tr>
          <td colspan="1">
            <button type="button" class="btn btn-sm btn-outline-info btn-block" (click)="expandAll()"
              style="margin-right: .25em"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Expand</button>
          </td>
          <td colspan="1">
            <button type="button" class="btn btn-sm btn-outline-info btn-block" (click)="collapseAll()"><i
                class="fa fa-minus-square"></i>&nbsp;&nbsp;Collapse</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="pt-2">
      <p-tree styleClass="result-tree-font" [value]="treeData" selectionMode="checkbox" [(selection)]="selectedColumns"
        (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeSelect($event)">
      </p-tree>
    </div>
    <!-- TREE END -->
  </div>
  <!-- COLUMN ONE END -->
  <!-- COLUMN TWO START -->
  <div *ngIf="cols.length != 0" class="col-10 pt-3 result-page-font border-left ">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      Click on record to view <strong>Report Card</strong>.
      <button type="button" class="close" style="font-size:150%;" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- PROFILE DETAILS START -->
    <div class="card row flex-row flex-nowrap mb-2 pl-2" style="font-weight: 600">
      <div class="col-md-2 text-center">
        <span class="card-text border-bottom">Profile Name</span>
        <br>
        <span class="profile-details-font text-info">{{profileObject.ProfileName}}</span>
      </div>
      <div class="col-md-2 text-center">
        <span class="card-text border-bottom">Model</span>
        <br>
        <span class="profile-details-font text-info">{{profileObject.ModelName}}</span>
      </div>
      <div class="col-md-2 text-center">
        <span class="card-text border-bottom">File Type</span>
        <br>
        <span class="profile-details-font text-info">{{profileObject.FileType}}</span>
      </div>
      <div class="col-md-2 text-center">
        <span class="card-text border-bottom">Year</span>
        <br>
        <span class="profile-details-font text-info">{{profileObject.AssessmentYear}}</span>
      </div>
      <div *ngIf="cars.length > 0" class="col-md-2 text-center">
        <span class="card-text border-bottom">Record Count</span>
        <br>
        <span class="profile-details-font text-info">{{cars.length}}</span>
      </div>
      <div class="col-md-2 text-center pt-1">
        <button *ngIf="profileObject.Saved == false" type="button" data-toggle="modal" data-target="#saveProfileModal"
          data-backdrop="static" data-keyboard="false" class="btn btn-outline-info btn-sm mr-2" style="float:right">
          <i class="fa fa-list-alt">&nbsp;&nbsp;</i>
          Send to CMS
        </button>
        <button *ngIf="profileObject.Saved == true && sendToCmsCheck == false" type="button"
          class="btn btn-outline-info btn-sm mr-2" style="float:right" (click)="sendToCmsSelection()">
          <i class="fa fa-list-alt">&nbsp;&nbsp;</i>
          Send to CMS
        </button>
        <button *ngIf="sendToCmsCheck == true" [disabled]="selectedRecords.length == 0" type="button"
          class="btn btn-outline-success btn-sm mr-2" style="float:left" data-toggle="modal"
          data-target="#cmsDescriptionModal" data-backdrop="static" data-keyboard="false">
          <i class="fa fa-share">&nbsp;&nbsp;</i>
          Send
        </button>
        <button *ngIf="sendToCmsCheck == true" type="button" class="btn btn-outline-danger btn-sm mr-2"
          style="float:right" (click)="sendToCmsCancel()">
          <i class="fa fa-times">&nbsp;&nbsp;</i>
          Cancel
        </button>
      </div>
    </div>
    <!-- PROFILE DETAILS END -->
    <!-- TABLE START -->
    <p-table #dt [columns]="cols" [value]="cars" [paginator]="true" [rows]="20" [globalFilterFields]="filterFields"
      styleClass="result-table-settings" [autoLayout]="true" [style]="{'overflow':'auto!important'}"
      [reorderableColumns]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20,50,100]"
      exportFilename="{{profileObject.ProfileID}}_{{profileObject.ProfileName}}_results" [(selection)]="selectedRecords"
      (sortFunction)="customSort($event)" [customSort]="true">
      <ng-template pTemplate="caption">
        <div style="text-align: left" class="ui-helper-clearfix">
          <i class="fa fa-search">&nbsp;&nbsp;</i>
          <input type="text" pInputText size="50" placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          <button type="button" class="btn btn-sm btn-outline-success" (click)="dt.exportCSV()" style="float:right"><i
              class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Export</button>
          <button type="button" data-toggle="modal" data-target="#summaryModal" data-backdrop="static"
            data-keyboard="false" class="btn btn-outline-info btn-sm mr-2" style="float:right">
            <i class="fa fa-list-alt">&nbsp;&nbsp;</i>
            Summary
          </button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngIf="sendToCmsCheck == true" style="width: 3em">
            <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
          </th>
          <th *ngFor="let col of cols" [pSortableColumn]="!col.field.includes('it_ref_no') ? col.field : null"
            pReorderableColumn>
            {{col.field}}
            <p-sortIcon *ngIf="!col.field.includes('it_ref_no')" [field]="col.field">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <!-- [ngClass]="cmsRowCheck(car['it_ref_no']) == true ? 'cms-row' : null" -->
      <ng-template pTemplate="body" let-car>
        <tr (mouseenter)="onMouseEnter(car)" (mouseleave)="onMouseLeave(car)" [class.row-hover]="car.hover"
          [pSelectableRow]="car" [ngClass]="car.flag == true ? 'cms-row': null">
          <td *ngIf="sendToCmsCheck == true">
            <p-tableCheckbox [value]="car" [disabled]="car.flag"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of cols" (click)="showReportCard(car)" data-toggle="modal" data-target="#reportCardModal"
            data-backdrop="static" data-keyboard="false">
            {{car[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
    <!-- TABLE END -->
  </div>
  <!-- COLUMN TWO END -->
</div>

<!-- SUMMARY MODAL START -->
<div class="modal fade result-page-font" id="summaryModal">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h6 class="modal-title">Summary</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-auto">
        <div>
          <table style="overflow: auto; max-height: 400px;"
            class="table table-sm table-responsive table-hover table-striped">
            <thead>
              <tr class="table-info">
                <th column="col" scope="col" *ngFor="let col of statisticsHeaders">
                  {{col}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let statRow of statistics">
                <td *ngFor="let col of statisticsHeaders">{{statRow[col]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer border-info">
        <button type="button" class="btn btn-sm btn-outline-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- SUMMARY MODAL END -->

<!-- REPORT CARD MODAL START -->
<div class="modal fade result-page-font" id="reportCardModal">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h6 class="modal-title">Report Card - {{selectedRow.it_ref_no}}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mx-auto">
          <table class="table table-sm table-borderless table-striped">
            <tr>
              <th scope="row">Profile</th>
              <td>{{profileObject.ProfileName}}</td>
            </tr>
            <tr>
              <th scope="row">Model</th>
              <td>{{profileObject.ModelName}}</td>
            </tr>
            <tr>
              <th scope="row">IT Ref No.</th>
              <td>{{selectedRow.it_ref_no}}</td>
            </tr>
          </table>
          <div style="overflow: auto; max-height: 500px;">
            <table class="table table-responsive table-sm table-bordered table-hover table-striped">
              <thead>
                <tr class="table-info">
                  <th column="col" scope="col" *ngFor="let col of reportCardDataHeaders">
                    {{col}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let reportRow of reportCardData" data-toggle="modal">
                  <td *ngFor="let col of reportCardDataHeaders">
                    <span>
                      {{reportRow[col]}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table table-sm table-bordered table-hover table-striped">
              <thead>
                <tr class="table-info">
                  <th>
                    External Model
                  </th>
                  <th>
                    Feature
                  </th>
                  <th>
                    Value
                  </th>
                </tr>
              </thead>
              <!-- WHT MODEL FEATURES START -->
              <tr *ngFor="let resKey of whtRCDataHeaders">
                <td *ngIf="!featureDetails('wht_res', resKey).isDetail">
                  <span>
                    WHT
                  </span>
                </td>
                <td *ngIf="!featureDetails('wht_res', resKey).isDetail">
                  <span [innerText]="featureDetails('wht_res', resKey).displayName"></span>
                </td>
                <!-- <td *ngIf="!featureDetails('wht_res', resKey).isDetail">
                  {{whtRCData[0][resKey]}}
                </td> -->
                <td *ngIf="!featureDetails('wht_res', resKey).isDetail">
                  <span *ngIf="whtRCData[0] == null" [innerHTML]="nullStringValueForReport">
                  </span>
                  <span *ngIf="whtRCData[0] != null">
                    {{whtRCData[0][resKey]}}
                  </span>
                </td>
              </tr>
              <!-- WHT MODEL FEATURES END -->
              <!-- TAX PROFILING MODEL FEATURES START -->
              <tr *ngFor="let resKey of taxProfilingRCDataHeaders">
                <td *ngIf="!featureDetails('tax_profiling_res', resKey).isDetail">
                  <span>
                    Tax Profiling
                  </span>
                </td>
                <td *ngIf="!featureDetails('tax_profiling_res', resKey).isDetail">
                  <span [innerText]="featureDetails('tax_profiling_res', resKey).displayName"></span>
                </td>
                <!-- <td *ngIf="!featureDetails('tax_profiling_res', resKey).isDetail">
                  {{taxProfilingRCData[0][resKey]}}
                </td> -->
                <td *ngIf="!featureDetails('tax_profiling_res', resKey).isDetail">
                  <span *ngIf="taxProfilingRCData[0] == null" [innerHTML]="nullStringValueForReport">
                  </span>
                  <span *ngIf="taxProfilingRCData[0] != null">
                    {{taxProfilingRCData[0][resKey]}}
                  </span>
                </td>
              </tr>
              <!-- TAX PROFILING MODEL FEATURES END -->
              <!-- DIGITAL ECONOMY MODEL FEATURES START -->
              <tr *ngFor="let resKey of digitalEconomyDataHeaders">
                <td *ngIf="!featureDetails('digital_economy_res', resKey).isDetail">
                  <span>
                    Digital Economy
                  </span>
                </td>
                <td *ngIf="!featureDetails('digital_economy_res', resKey).isDetail">
                  <span [innerText]="featureDetails('digital_economy_res', resKey).displayName"></span>
                </td>
                <!-- <td *ngIf="!featureDetails('digital_economy_res', resKey).isDetail">
                  {{digitalEconomyData[0][resKey]}}
                </td> -->
                <td *ngIf="!featureDetails('digital_economy_res', resKey).isDetail">
                  <span *ngIf="digitalEconomyData[0] == null" [innerHTML]="nullStringValueForReport">
                  </span>
                  <span *ngIf="digitalEconomyData[0] != null">
                    {{digitalEconomyData[0][resKey]}}
                  </span>
                </td>
              </tr>
              <!-- DIGITAL ECONOMY MODEL FEATURES END -->
              <!-- MEANS TEST MODEL FEATURES START -->
              <tr *ngFor="let resKey of meansTestDataHeaders">
                <td *ngIf="!featureDetails('means_test_res', resKey).isDetail">
                  <span>
                    Means Test
                  </span>
                </td>
                <td *ngIf="!featureDetails('means_test_res', resKey).isDetail">
                  <span [innerText]="featureDetails('means_test_res', resKey).displayName"></span>
                </td>
                <!-- <td *ngIf="!featureDetails('means_test_res', resKey).isDetail">
                  {{meansTestData[0][resKey]}}
                </td> -->
                <td *ngIf="!featureDetails('means_test_res', resKey).isDetail">
                  <span *ngIf="meansTestData[0] == null" [innerHTML]="nullStringValueForReport">
                  </span>
                  <span *ngIf="meansTestData[0] != null">
                    {{meansTestData[0][resKey]}}
                  </span>
                </td>
              </tr>
              <!-- MEANS TEST MODEL FEATURES END -->
            </table>
            <table class="table table-borderless">
              <tr>
                <td>
                  <button [hidden]="whtDetails" [disabled]="!(whtRCData.length > 0)" type="button"
                    class="btn btn-sm btn-outline-info" style="float:left" (click)="whtDetails = !whtDetails"><i
                      class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Show WHT
                    Features</button>
                  <button [hidden]="!whtDetails" type="button" class="btn btn-sm btn-outline-danger" style="float:left"
                    (click)="whtDetails = !whtDetails"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Hide WHT
                    Features</button>
                </td>
                <td>
                  <button [hidden]="taxProfilingRCDetails" [disabled]="!(taxProfilingRCData.length > 0)" type="button"
                    class="btn btn-sm btn-outline-info" style="float:left"
                    (click)="taxProfilingRCDetails = !taxProfilingRCDetails"><i
                      class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Show Tax Profiling Features</button>
                  <button [hidden]="!taxProfilingRCDetails" type="button" class="btn btn-sm btn-outline-danger"
                    style="float:left" (click)="taxProfilingRCDetails = !taxProfilingRCDetails"><i
                      class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Hide Tax Profiling Features</button>
                </td>
                <td>
                  <button [hidden]="digitalEconomyDetails" [disabled]="!(digitalEconomyData.length > 0)" type="button"
                    class="btn btn-sm btn-outline-info" style="float:left"
                    (click)="digitalEconomyDetails = !digitalEconomyDetails"><i
                      class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Show Digital Economy
                    Features</button>
                  <button [hidden]="!digitalEconomyDetails" type="button" class="btn btn-sm btn-outline-danger"
                    style="float:left" (click)="digitalEconomyDetails = !digitalEconomyDetails"><i
                      class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Hide Digital Economy
                    Features</button>
                </td>
                <td>
                  <button [hidden]="meansTestDetails" [disabled]="!(meansTestData.length > 0)" type="button"
                    class="btn btn-sm btn-outline-info" style="float:left"
                    (click)="meansTestDetails = !meansTestDetails"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Show
                    Means Test Features</button>
                  <button [hidden]="!meansTestDetails" type="button" class="btn btn-sm btn-outline-danger"
                    style="float:left" (click)="meansTestDetails = !meansTestDetails"><i
                      class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Hide Means Test Features</button>
                </td>
              </tr>
            </table>
            <!-- ALL WHT MODEL FEATURES START -->
            <div [hidden]="!whtDetails">
              <table class="table table-sm table-bordered table-hover table-striped">
                <thead>
                  <tr class="table-info">
                    <th>
                      External Model
                    </th>
                    <th>
                      Feature
                    </th>
                    <th>
                      Value
                    </th>
                  </tr>
                </thead>
                <tr *ngFor="let resKey of whtRCDataHeaders">
                  <td *ngIf="featureDetails('wht_res', resKey).isDetail">
                    <span>
                      WHT
                    </span>
                  </td>
                  <td *ngIf="featureDetails('wht_res', resKey).isDetail">
                    <span [innerText]="featureDetails('wht_res', resKey).displayName"></span>
                  </td>
                  <td *ngIf="featureDetails('wht_res', resKey).isDetail">
                    {{whtRCData[0][resKey]}}
                  </td>
                </tr>
              </table>
            </div>
            <!-- ALL WHT MODEL FEATURES END -->
            <!-- ALL TAX PROFILING MODEL FEATURES START -->
            <div [hidden]="!taxProfilingRCDetails">
              <table class="table table-sm table-bordered table-hover table-striped">
                <thead>
                  <tr class="table-info">
                    <th>
                      External Model
                    </th>
                    <th>
                      Feature
                    </th>
                    <th>
                      Value
                    </th>
                  </tr>
                </thead>
                <tr *ngFor="let resKey of taxProfilingRCDataHeaders">
                  <td *ngIf="featureDetails('tax_profiling_res', resKey).isDetail">
                    <span>
                      Tax Profiling
                    </span>
                  </td>
                  <td *ngIf="featureDetails('tax_profiling_res', resKey).isDetail">
                    <span [innerText]="featureDetails('tax_profiling_res', resKey).displayName"></span>
                  </td>
                  <td *ngIf="featureDetails('tax_profiling_res', resKey).isDetail">
                    {{taxProfilingRCData[0][resKey]}}
                  </td>
                </tr>
              </table>
            </div>
            <!-- ALL TAX PROFILING MODEL FEATURES END -->
            <!-- ALL DIGITAL ECONOMY MODEL FEATURES START -->
            <div [hidden]="!digitalEconomyDetails">
              <table class="table table-sm table-bordered table-hover table-striped">
                <thead>
                  <tr class="table-info">
                    <th>
                      External Model
                    </th>
                    <th>
                      Feature
                    </th>
                    <th>
                      Value
                    </th>
                  </tr>
                </thead>
                <tr *ngFor="let resKey of digitalEconomyDataHeaders">
                  <td *ngIf="featureDetails('digital_economy_res', resKey).isDetail">
                    <span>
                      Digital Economy
                    </span>
                  </td>
                  <td *ngIf="featureDetails('digital_economy_res', resKey).isDetail">
                    <span [innerText]="featureDetails('digital_economy_res', resKey).displayName"></span>
                  </td>
                  <td *ngIf="featureDetails('digital_economy_res', resKey).isDetail">
                    {{digitalEconomyData[0][resKey]}}
                  </td>
                </tr>
              </table>
            </div>
            <!-- ALL DIGITAL ECONOMY MODEL FEATURES END -->
            <!-- ALL MEANS TEST MODEL FEATURES START -->
            <div [hidden]="!meansTestDetails">
              <table class="table table-sm table-bordered table-hover table-striped">
                <thead>
                  <tr class="table-info">
                    <th>
                      External Model
                    </th>
                    <th>
                      Feature
                    </th>
                    <th>
                      Value
                    </th>
                  </tr>
                </thead>
                <tr *ngFor="let resKey of meansTestDataHeaders">
                  <td *ngIf="featureDetails('means_test_res', resKey).isDetail">
                    <span>
                      Means Test
                    </span>
                  </td>
                  <td *ngIf="featureDetails('means_test_res', resKey).isDetail">
                    <span [innerText]="featureDetails('means_test_res', resKey).displayName"></span>
                  </td>
                  <td *ngIf="featureDetails('means_test_res', resKey).isDetail">
                    {{meansTestData[0][resKey]}}
                  </td>
                </tr>
              </table>
            </div>
            <!-- ALL MEANS TEST MODEL FEATURES END -->
          </div>
        </div>
      </div>
      <div class="modal-footer border-info">
        <button type="button" class="btn btn-sm btn-outline-success" (click)="exportReportAsExcel()"
          style="float:right"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Export</button>
        <button type="button" class="btn btn-sm btn-outline-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- REPORT CARD MODAL END -->

<!-- SAVE PROFILE MODAL START -->
<div class="modal fade result-page-font" id="saveProfileModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-danger">Attention!</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Please save your Profile in order to send records to CMS!
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- SAVE PROFILE MODAL END -->

<!-- CMS DESCRIPTION MODAL START -->
<div class="modal fade result-page-font" id="cmsDescriptionModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-info">Send to CMS</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <p>Records Selected : {{this.selectedRecords.length}}</p>
          <div class="ui-g" style="width:250px;margin-bottom:10px">
            <div class="ui-g-12">
              <p-radioButton name="group1" value="FA" label="Field Audit" [(ngModel)]="auditType" inputId="opt1">
              </p-radioButton>
            </div>
            <div class="ui-g-12">
              <p-radioButton name="group1" value="DA" label="Desk Audit" [(ngModel)]="auditType" inputId="opt2">
              </p-radioButton>
            </div>
            <div class="ui-g-12">
              <p-radioButton name="group1" value="IA" label="Investigation Audit" [(ngModel)]="auditType"
                inputId="opt3">
              </p-radioButton>
            </div>
          </div>
          <textarea class="form-control" rows="3" [(ngModel)]="noteDetail"
            placeholder="Selected records description..."></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-success" (click)="sendToCms()"
          data-dismiss="modal">Send</button>
        <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- CMS DESCRIPTION MODAL END -->

<!-- CMS RESPONSE MODAL START -->
<div class="modal backdrop" tabindex="-1" role="dialog" id="cmsResponseModal" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [ngClass]="cmsResponse != true ? 'text-danger' : 'text-success'"
          [innerHtml]="cmsResponse != true ? 'Failure' : 'Success'"></h5>
        <button type="button" class="close" [ngClass]="cmsResponse != true ? 'text-danger' : 'text-success'"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body save-profile-modal-font">
        <p *ngIf="cmsResponse == true">Your records have been successfully sent to CMS!</p>
        <p *ngIf="cmsResponse != true">There was some error with your request!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm" (click)="sendToCmsForward()"
          [ngClass]="cmsResponse != true ? 'btn-outline-danger' : 'btn-outline-success'"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- CMS RESPONSE MODAL END -->
