.result-page-font {
  font-size: 80%;
  /* padding-right: 15px; */
}

/* .result-tree-wrapper {
  max-height: 200px;
} */
.profile-details-font {
  font-size: 80%;
}

.result-tree-wrapper {
  max-height: 100%;
  overflow-x: auto;
}

:host ::ng-deep .result-tree-font {
  font-size: 70%;
  max-height: 100%;
  max-width: 98%;
  overflow: auto;
}

:host ::ng-deep .result-table-settings {
  font-size: 90%;
  /* max-height: 100%; */
}

.cms-row {
  background: #abadaf !important;
}

.row-hover {
  cursor: pointer;
  background: #0073fa !important;
  color: #ffffff !important;
}


.modal-full {
  min-width: 98%;
  margin-top: 50px;
  padding: 0;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
