<div class="row pb-3">
  <!-- COLUMN ONE: PROFILE FILTERS START -->
  <div class="col-2 pl-3 pt-3 border-right">
    <div class="mb-3">
      <select class="custom-select custom-select-sm" [(ngModel)]="selectedFileType">
        <option value="">File Type (All)</option>
        <option *ngFor="let fileType of fileTypes" [value]="fileType">
          {{fileType}}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <select class="custom-select custom-select-sm" [(ngModel)]="selectedAsstYear">
        <option value="">Assessment Year (All)</option>
        <option *ngFor="let assessmentYear of assessmentYears" [value]="assessmentYear">
          {{assessmentYear}}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <select class="custom-select custom-select-sm" [(ngModel)]="selectedBranchCode">
        <option value="">Branch Code (All)</option>
        <option *ngFor="let branchCode of branchCodes" [value]="branchCode">
          {{branchCode}}
        </option>
      </select>
    </div>
    <div class="text-right pb-3">
      <button type="button" class="btn btn-info btn-sm btn-block" (click)="filterProfiles()"><i
          class="fa fa-filter">&nbsp;&nbsp;</i>Filter</button>
    </div>
  </div>
  <!-- COLUMN ONE: PROFILE FILTERS END -->
  <!-- COLUMN TWO: PROFILE VIEW START -->
  <div class="col-7 pt-3 border-right border-left">
    <div>
      <p *ngIf="profiles.length == 0" class="card-text">
        {{errorMessage}}
      </p>
    </div>
    <div class="profile-wrapper">
      <div *ngFor="let profile of profilesViewList" class="box card cursor-pointer"
        (click)="showProfileDetail(profile)">
        <div class="card-body">
          <p class="card-text">
            {{profile.ProfileName}}
          </p>
        </div>
        <div class="card-footer text-muted"
          [ngClass]="profile.JobStatus != 'Done' ? 'border-warning' : 'border-success'">
          <span [ngClass]="profile.JobStatus != 'Done' ? 'text-warning' : 'text-success'">
            <i *ngIf="profile.JobStatus != 'Done' && profile.JobStatus != 'Failed'"
              class="fa fa-cog fa-spin fa-fw"></i>&nbsp;{{profile.JobStatus}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- COLUMN TWO: PROFILE VIEW END -->
  <!-- COLUMN THREE: PROFILE DETAILS VIEW START -->
  <div class="col-3 pt-3 border-left profile-info-font">
    <!-- CMS REPORT BUTTON START -->
    <div class="text-center border-bottom pb-2">
      <button type="button" (click)="navToCmsReport()" class="btn btn-info btn-sm btn-block"><i
          class="fa fa-archive">&nbsp;&nbsp;</i>CMS
        Report</button>
    </div>
    <!-- CMS REPORT BUTTON END -->
    <!-- CREATE PROFILE BUTTON START -->
    <div class="text-center border-bottom pb-2">
      <button type="button" (click)="navToFeatures()" class="btn btn-success btn-sm btn-block"><i
          class="fa fa-plus">&nbsp;&nbsp;</i>Create
        Profile</button>
    </div>
    <!-- CREATE PROFILE BUTTON END -->
    <!-- PROFILE DETAILS START -->
    <div *ngIf="showDetail" class="border-top pt-2 profile-info-wrapper overflow-auto">
      <table class="table table-striped table-bordered ">
        <tr>
          <th scope="row">Status</th>
          <td><span class="badge badge-pill "
              [ngClass]="detailProfile.JobStatus != 'Done' ? 'badge-warning' : 'badge-success'">{{detailProfile.JobStatus}}</span>
          </td>
        </tr>
        <tr>
          <th scope="row">Profile Name</th>
          <td>{{detailProfile.ProfileName}}</td>
        </tr>
        <tr>
          <th scope="row">Created By</th>
          <td>{{detailProfile.UserID}} </td>
        </tr>
        <tr>
          <th scope="row">Model Used</th>
          <td>{{detailProfile.ModelName}}</td>
        </tr>
        <tr>
          <th scope="row">File Type</th>
          <td>{{detailProfile.FileType}}</td>
        </tr>
        <tr>
          <th scope="row">Assessment Year</th>
          <td>{{detailProfile.AssessmentYear}}</td>
        </tr>
        <tr>
          <th scope="row">Branch Code</th>
          <td>{{detailProfile.BranchCode}}</td>
        </tr>
        <tr>
          <th scope="row">Saved</th>
          <td *ngIf="detailProfile.Saved == true">Yes</td>
          <td *ngIf="detailProfile.Saved == false">No</td>
        </tr>
      </table>
      <table class="table table-striped table-bordered">
        <tr class="text-center">
          <td colspan="2">
            <button type="button" (click)="navToResults()" [disabled]="detailProfile.JobStatus != 'Done'"
              class="btn btn-info btn-sm btn-block"><i class="fa fa-table">&nbsp;&nbsp;</i>View
              Results</button>
          </td>
        </tr>
        <tr class="text-center">
          <td>
            <button type="button" (click)="navToFeaturesWithEdit()"
              [disabled]="detailProfile.Saved != false || detailProfile.JobStatus != 'Done'"
              class="btn btn-info btn-sm btn-block"><i class="fa fa-pencil">&nbsp;&nbsp;</i>Edit Profile</button>
          </td>
          <td>
            <button type="button" (click)="saveProfile()"
              [disabled]="detailProfile.Saved != false || detailProfile.JobStatus != 'Done'"
              class="btn btn-success btn-sm btn-block" data-toggle="modal" data-target="#saveProfileModal"
              data-backdrop="static" data-keyboard="false"><i class="fa fa-floppy-o">&nbsp;&nbsp;</i>Save
              Profile</button>
          </td>
        </tr>
      </table>
    </div>
    <!-- PROFILE DETAILS END -->
  </div>
  <!-- COLUMN THREE: PROFILE DETAILS VIEW END -->
</div>

<!-- SAVE PROFILE MODAL -->
<div class="fade modal" tabindex="-1" role="dialog" id="saveProfileModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [ngClass]="profileSaveStatus != 'True' ? 'text-danger' : 'text-success'"
          [innerHtml]="profileSaveStatus != 'True' ? 'Failure' : 'Success'"></h5>
        <button type="button" class="close" [ngClass]="profileSaveStatus != 'True' ? 'text-danger' : 'text-success'"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body save-profile-modal-font">
        <p *ngIf="profileSaveStatus == 'True'">Your Profile has been successfully saved & locked</p>
        <p *ngIf="profileSaveStatus != 'True'">There was some error in saving your profile</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm"
          [ngClass]="profileSaveStatus != 'True' ? 'btn-outline-danger' : 'btn-outline-success'"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
