
.profile-wrapper {
  /* autoprefixer grid: autoplace */
  /* display: grid; */
  /* grid-gap: 20px; */
  /* grid-template-columns: repeat(7, 12%); */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  /* grid-template-rows: repeat(3, auto); */
  /* -ms-grid-rows: 10px (250px 10px); */
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  max-height: 545px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  /* padding: 5px 15px 5px 15px;
  border-radius: 4px; */
  text-align: center;
  font-size: 80%;
  width: 13%;
  margin: 10px;
}

.box .card-footer {
  font-size: 90%;
}

.cursor-pointer {
  cursor: pointer;
}

.profile-info-font {
  font-size: 70%;
}

.profile-info-wrapper{
  max-height: 495px;
}

.save-profile-modal-font {
  font-size: 85%;
}
