<div class="col-11 mt-3 mx-auto">
  <div class="jumbotron">
    <h1 class="display-5">Processing!</h1>
    <p class="status-list-font">Please wait while your model is being processed. ProfileID: {{profileId}}</p>
    <div class="progress">
      <div class="progress-bar" [ngClass]="progressColor" role="progressbar" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100" [style.width]="progressWidth">{{progressWidth}}</div>
    </div>
    <hr class="my-4">
    <ul class="status-list-font">
      <li *ngFor="let status of showStatusList" class="capitalize-all">
        <i *ngIf="status != 'failed'" class="fa fa-check text-success"></i>
        <i *ngIf="status == 'failed'" class="fa fa-times text-danger"></i>
        &nbsp;&nbsp;
        {{status}}
      </li>
    </ul>
    <button type="button" class="btn btn-secondary btn-sm float-right" (click)="navToProfiles()"><i
        class="fa fa fa-users">&nbsp;&nbsp;</i>Back to Profiles</button>
    <button type="button" [disabled]="navResults" class="btn btn-success btn-sm float-right mr-3"
      (click)="navToResults()"><i class="fa fa-table">&nbsp;&nbsp;</i>View
      Results </button>
  </div>
</div>
