<div class="col-11 mt-3 mx-auto">
  <div class="jumbotron">
    <table>
      <tr>
        <td class="pr-3">
          <label for="fDate">
            start Date
          </label>
        </td>
        <td class="pr-3">
          <label for="tDate">
            End Date
          </label>
        </td>
        <td>
          Case
        </td>
      </tr>
      <tr>
        <td class="pr-3">
          <p-calendar id="fDate" [(ngModel)]="fromDate" [showIcon]="true" [readonlyInput]="true"></p-calendar>
        </td>
        <td class="pr-3">
          <p-calendar id="tDate" [(ngModel)]="toDate" [showIcon]="true" [readonlyInput]="true"></p-calendar>
        </td>
        <td>
          <select class="custom-select custom-select-sm" [(ngModel)]="selectedCase">
            <option value="All">All</option>
            <option value="Successful">Successful</option>
            <option value="Rejected">Rejected</option>
          </select>
        </td>
      </tr>
    </table>
    <hr class="my-4">
    <button type="button" class="btn btn-secondary btn-sm float-right" (click)="navToProfiles()"><i
        class="fa fa fa-users">&nbsp;&nbsp;</i>Back to Profiles</button>
    <button *ngIf="((fromDate) && (toDate) && (selectedCase))" type="button"
      class="btn btn-success btn-sm float-right mr-3" (click)="generateCmsReport()"><i
        class="fa fa-table">&nbsp;&nbsp;</i>Generate Report</button>
    <button *ngIf="!((fromDate) && (toDate) && (selectedCase))" type="button"
      class="btn btn-success btn-sm float-right mr-3" data-toggle="modal" data-target="#fieldCheckModal"
      data-backdrop="static" data-keyboard="false">Generate Report&nbsp;&nbsp;<i class="fa fa-table"></i></button>
    <button *ngIf="reportData.length > 0" type="button" class="btn btn-success btn-sm float-right mr-3" data-keyboard="false" (click)="exportReportAsExcel()"><i
        class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Export Data</button>
  </div>

  <!-- REPORT TABLE START -->
  <div class="mx-auto">
    <table class="table table-sm table-hover table-striped">
      <thead>
        <tr class="table-info">
          <th column="col" scope="col" *ngFor="let col of reportHeaders">
            {{col}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of reportData" data-toggle="modal">
          <td *ngFor="let col of reportHeaders">
            <span>
              {{row[col]}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- REPORT TABLE END -->
</div>


<!-- FIELD CHECK MODAL START -->
<div class="modal fade" tabindex="-1" id="fieldCheckModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger">Warning!</h5>
        <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body field-check-modal-font">
        <p>Please enter data for the following fields:</p>
        <ul>
          <li *ngIf="!fromDate">Start Date</li>
          <li *ngIf="!toDate">End Date</li>
          <li *ngIf="!selectedCase">Case</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- FIELD CHECK MODAL END -->
