<div class="mt-5">
  <div class="col-5 mx-auto">
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
      {{errorMessage}}
      <button type="button" class="close" style="font-size:150%;" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">
          Login
        </h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="">Username</label>
            <input [(ngModel)]="loginUserData.username" name="Username" type="text" class="form-control rounded-0"
              required>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input [(ngModel)]="loginUserData.password" name="password" type="password" class="form-control rounded-0"
              required>
          </div>
          <button (click)="loginUser()" type="submit" class="btn btn-success float-right"><i class="fa fa-sign-in"
              aria-hidden="true"></i>&nbsp;&nbsp;Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
